In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [2]:
imdb_texts = pd.read_csv('texts.tsv', sep='\t')
imdb_texts.columns =['imdb_id', 'text']
imdb_texts.head()

     imdb_id                                               text
0  tt0280381  The story is about three young boys, Leche, Ja...
1  tt0087289  An obsessed scientist assembles a living being...
2  tt0052393  The Breslins (Jake, Emma, three boys, and nubi...
3  tt0213802  Two guys, handsome William and his side kick L...
4  tt0106356  F. Ross Johnson, the CEO of RJR Nabisco decide...

In [3]:
imdb_texts.count()

imdb_id    17125
text       17125
dtype: int64

In [4]:
!ls

MovieLensData   Untitled.ipynb  src             tmp.csv
README.md       movies_imdb.csv texts.tsv

In [5]:
imdb_dataset = pd.read_csv('movies_imdb.csv')

In [6]:
imdb_dataset.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_imdb,movieId,genres,nconst,averageRating,numVotes
0,"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51372,Musical,NaN,NaN,NaN
1,#chicagoGirl: The Social Network Takes on a Di...,tt2607968,movie,#chicagoGirl: The Social Network Takes on a Di...,#chicagoGirl: The Social Network Takes on a Di...,0.0,2013.0,\N,74,"Action,Biography,Documentary",111878,Documentary,nm1423462nm8647124nm8647125nm5558176nm8647126n...,7.1,220.0
2,$ (Dollars) (1971),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85177,Comedy|Crime|Drama,NaN,NaN,NaN
3,$5 a Day (2008),tt1024733,movie,$5 a Day,$5 a Day,0.0,2008.0,\N,98,"Comedy,Drama",80361,Comedy|Drama,nm0416164nm0000686nm0005273nm0000232nm0001002n...,6.3,2987.0
4,$9.99 (2008),tt0790799,movie,$9.99,$9.99,0.0,2008.0,\N,78,"Animation,Drama,Fantasy",74486,Animation,nm2861782nm0001691nm0001439nm0426170nm0653222n...,6.7,3064.0

In [7]:
imdb_texts.columns, imdb_dataset.columns

(Index(['imdb_id', 'text'], dtype='object'),
 Index(['Unnamed: 0', 'tconst', 'titleType', 'primaryTitle', 'originalTitle',
        'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres_imdb',
        'movieId', 'genres', 'nconst', 'averageRating', 'numVotes'],
       dtype='object'))

In [8]:
imdb_with_texts = imdb_dataset.join(imdb_texts.set_index('imdb_id'), on='tconst')

In [9]:
imdb_dataset.count()

Unnamed: 0        32402
tconst            20556
titleType         20556
primaryTitle      20556
originalTitle     20556
isAdult           20556
startYear         20556
endYear           20556
runtimeMinutes    20556
genres_imdb       20556
movieId           32402
genres            32402
nconst            20190
averageRating     16667
numVotes          16667
dtype: int64

In [10]:
imdb_with_texts.count()

Unnamed: 0        32402
tconst            20556
titleType         20556
primaryTitle      20556
originalTitle     20556
isAdult           20556
startYear         20556
endYear           20556
runtimeMinutes    20556
genres_imdb       20556
movieId           32402
genres            32402
nconst            20190
averageRating     16667
numVotes          16667
text              17166
dtype: int64

In [11]:
imdb_with_texts.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres_imdb,movieId,genres,nconst,averageRating,numVotes,text
0,"""Great Performances"" Cats (1998)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51372,Musical,NaN,NaN,NaN,NaN
1,#chicagoGirl: The Social Network Takes on a Di...,tt2607968,movie,#chicagoGirl: The Social Network Takes on a Di...,#chicagoGirl: The Social Network Takes on a Di...,0.0,2013.0,\N,74,"Action,Biography,Documentary",111878,Documentary,nm1423462nm8647124nm8647125nm5558176nm8647126n...,7.1,220.0,A socially networked group of unarmed activist...
2,$ (Dollars) (1971),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85177,Comedy|Crime|Drama,NaN,NaN,NaN,NaN
3,$5 a Day (2008),tt1024733,movie,$5 a Day,$5 a Day,0.0,2008.0,\N,98,"Comedy,Drama",80361,Comedy|Drama,nm0416164nm0000686nm0005273nm0000232nm0001002n...,6.3,2987.0,"In L.A., Flynn Parker loses his job as a healt..."
4,$9.99 (2008),tt0790799,movie,$9.99,$9.99,0.0,2008.0,\N,78,"Animation,Drama,Fantasy",74486,Animation,nm2861782nm0001691nm0001439nm0426170nm0653222n...,6.7,3064.0,A stop-motion animated story about people livi...

In [12]:
!ls MovieLensData

movies.csv
ratings_dev.csv
ratings_dev_with_ALS_predictions.csv
ratings_train_A.csv
ratings_train_B.csv
ratings_train_with_ALS_predictions_u_0_m_0.csv
ratings_train_with_ALS_predictions_u_0_m_1.csv
ratings_train_with_ALS_predictions_u_0_m_2.csv
ratings_train_with_ALS_predictions_u_1_m_0.csv
ratings_train_with_ALS_predictions_u_1_m_1.csv
ratings_train_with_ALS_predictions_u_1_m_2.csv
ratings_train_with_ALS_predictions_u_2_m_0.csv
ratings_train_with_ALS_predictions_u_2_m_1.csv
ratings_train_with_ALS_predictions_u_2_m_2.csv
with actor ALS

In [13]:
movielens_parts = [
    pd.read_csv('MovieLensData/ratings_train_with_ALS_predictions_u_{}_m_{}.csv'.format(i, j)) for i in range(3) for j in range(3)
]

In [14]:
movielens_parts_with_texts = []
for i, x in enumerate(movielens_parts):
    part = x.join(imdb_with_texts.set_index('movieId'), on='movieId')
    user_text = part[['userId', 'text']].groupby('userId')['text'].apply(
        lambda text: ''.join(text.to_string(index=False))
    ).str.replace('(\\n)', '').reset_index()
    user_text.rename(columns={'text': 'user_text'}, inplace=True)
    movielens_parts_with_texts.append(
        part.join(user_text.set_index('userId'), on='userId')
    )

In [15]:
# for i, x in enumerate(movielens_parts_with_texts):
#     a, b = i // 3, i % 3
#     x.to_csv('ratings_train_with_ALS_predictions_with_texts_u_{}_m_{}.csv'.format(a, b))

In [16]:
x = movielens_parts_with_texts[0]

In [17]:
x.iloc[0]

userId                                                        53501
movieId                                                        2551
timestamp                                                1042208160
rating                                                            5
user_movie_ALS                                               3.8931
user_genre_ALS                                               3.9427
Unnamed: 0                                      Dead Ringers (1988)
tconst                                                    tt0094964
titleType                                                     movie
primaryTitle                                           Dead Ringers
originalTitle                                          Dead Ringers
isAdult                                                           0
startYear                                                      1988
endYear                                                          \N
runtimeMinutes                                                  116
genres_imdb                                   Drama,Horror,Thriller
genres                                        Drama|Horror|Thriller
nconst            nm0006290nm0000460nm0000991nm0902794nm0329876n...
averageRating                                                   7.3
numVotes                                                      37426
text              The Mantle brothers are both doctors - both gy...
user_text          The Mantle brothers are both doctors - both g...
Name: 0, dtype: object

In [18]:
z = part[['userId', 'rating', 'text']]

In [19]:
z.count()

userId    2135248
rating    2135248
text      1324512
dtype: int64

In [21]:
z.rating.mean()

3.5407669273077413

In [24]:
z.where(z.rating > 3.5).count()

userId    1080132
rating    1080132
text       651410
dtype: int64

In [26]:
z.where(z.rating > 3.5).head(20)

      userId  rating                                               text
0        NaN     NaN                                                NaN
1        NaN     NaN                                                NaN
2    31350.0     4.0                                                NaN
3        NaN     NaN                                                NaN
4        NaN     NaN                                                NaN
5    92740.0     5.0                                                NaN
6   105897.0     4.0  Phoenix office worker Marion Crane is fed up w...
7        NaN     NaN                                                NaN
8        NaN     NaN                                                NaN
9        NaN     NaN                                                NaN
10       NaN     NaN                                                NaN
10       NaN     NaN                                                NaN
11       NaN     NaN                                                NaN
12   98439.0     4.0  A young family are visited by ghosts in their ...
13   51376.0     4.0                                                NaN
14   65473.0     4.0                                                NaN
15       NaN     NaN                                                NaN
16       NaN     NaN                                                NaN
17  118510.0     4.5                                                NaN
18       NaN     NaN                                                NaN

In [20]:
z.groupby('rating').agg(np.mean)

              userId
rating
0.5     69214.149647
1.0     69304.943942
1.5     70442.160875
2.0     69069.583220
2.5     69341.464872
3.0     69348.173391
3.5     69187.442437
4.0     68809.938959
4.5     69046.094342
5.0     68909.664480

In [27]:
x = movielens_parts[0]
part = x.join(imdb_with_texts.set_index('movieId'), on='movieId')
user_text = part[['userId', 'rating', 'text']]
user_text = user_text.where(user_text.rating > 3.5).groupby('userId')['text'].apply(
    lambda text: ''.join(text.to_string(index=False))
).str.replace('(\\n)', '').reset_index()
user_text.rename(columns={'text': 'user_text'}, inplace=True)
part.join(user_text.set_index('userId'), on='userId')

In [28]:
k = movielens_parts_with_texts[-1]

In [29]:
k.count()

userId            2012473
movieId           2012473
timestamp         2012473
rating            2012473
user_movie_ALS    2011746
user_genre_ALS    2012473
Unnamed: 0        2012473
tconst            1514769
titleType         1514769
primaryTitle      1514769
originalTitle     1514769
isAdult           1514769
startYear         1514769
endYear           1514769
runtimeMinutes    1514769
genres_imdb       1514769
genres            2012473
nconst            1468938
averageRating     1249978
numVotes          1249978
text              1229544
user_text         2009141
dtype: int64